/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root {
    font-family: 'Nunito', sans-serif;
}

*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-button {
    background-color: rgba(30, 90, 140, 1);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(45, 88, 253, 1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(45, 88, 253, 1);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 2rem;
    color: white;
}

nav {
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#navbar {
    position: absolute;
    z-index: 1000;
}


.navbar-nav {
    margin: 0px;
    padding: 0px;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

#navbar ul {
    width: 100%;
    list-style-type: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    z-index: 3;
    background-color: rgba(45, 88, 253, 1);
    border-bottom: 1px solid white;
    -webkit-animation: colorChange 10s infinite;
    animation: colorChange 10s infinite;
}

#navbar li {
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 1;
    height: 3rem;
    line-height: 3rem;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

a {
    text-decoration: none;
    right: 2rem;
    padding: 1rem;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a span {
    color: white;
    height: 100%;
}

span {
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-nav li:hover {
    font-size: 1rem;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.container {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #ffffff;
    position: relative;
    scroll-snap-align: start;
}

.about-me>p {
    margin: 2rem;
}

.projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: rgb(34, 193, 195);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(45, 88, 253, 1)), to(rgb(34, 193, 195)));
    background: -o-linear-gradient(top, rgba(45, 88, 253, 1) 30%, rgb(34, 193, 195) 100%);
    background: linear-gradient(180deg, rgba(45, 88, 253, 1) 30%, rgb(34, 193, 195) 100%);
}

.project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: auto;
    height: 5rem;
    border: 1px solid white;
    padding: 1rem;
    margin: 1rem;
    transition: all .5s ease-in-out;
}

.project:hover {
    opacity: .4;

}

.about-me {
    background: rgba(45, 88, 253, 1);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(45, 88, 253, 1)), to(rgb(34, 193, 195)));
    background: -o-linear-gradient(top, rgba(45, 88, 253, 1) 30%, rgb(34, 193, 195) 100%);
    background: linear-gradient(180deg, rgba(45, 88, 253, 1) 30%, rgb(34, 193, 195) 100%);
}

.contact {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgb(34, 193, 195)), to(rgba(45, 88, 253, 1)));
    background: -o-linear-gradient(top, rgb(34, 193, 195) 30%, rgba(45, 88, 253, 1) 100%);
    background: linear-gradient(180deg, rgb(34, 193, 195) 30%, rgba(45, 88, 253, 1) 100%);
}

#contact-list {
    background-color: transparent;
    font-size: 1.5rem;
    list-style-type: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0px;
    -webkit-padding-start: 0px;
    padding-inline-start: 0px;
}

#contact-list li {
    -webkit-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

#contact-list li:nth-of-type(n+2):hover {
    -webkit-transform: rotate3d(1, .4, .41, 10deg);
    transform: rotate3d(1, .4, .41, 10deg);
}

#contact-list li:last-child:hover {
    -webkit-animation: phone 1s infinite;
    animation: phone 1s infinite;
}

.about-me,
.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    text-align: center;
}

.all-projects {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10fr;
    grid-template-columns: 10fr;
    padding-top: 4fr;
}

#project-h1 {
    text-align: center;
    margin-top: 2rem;
}

.project {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.box {
    margin-right: 100px;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.desintegrate {
    opacity: 1;
    -webkit-animation: desintegrateAnimation 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation: desintegrateAnimation 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@-webkit-keyframes desintegrateAnimation {
    0% {
        opacity: 1;
        font-size: inherit
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        font-size: 1px;
    }
}

@keyframes desintegrateAnimation {
    0% {
        opacity: 1;
        font-size: inherit
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        font-size: 1px;
    }
}

@-webkit-keyframes colorChange {
    0% {
        background-color: rgba(45, 88, 253);
    }

    21% {
        background-color: rgb(34, 150, 195);
    }

    57% {
        background-color: rgba(45, 88, 253);
    }

    79% {
        background-color: rgb(34, 150, 195);
    }

    100% {
        background-color: rgba(45, 88, 253)
    }
}

@keyframes colorChange {
    0% {
        background-color: rgba(45, 88, 253);
    }

    21% {
        background-color: rgb(34, 150, 195);
    }

    57% {
        background-color: rgba(45, 88, 253);
    }

    79% {
        background-color: rgb(34, 150, 195);
    }

    100% {
        background-color: rgba(45, 88, 253)
    }
}

@-webkit-keyframes phone {
    0% {
        -webkit-transform: rotate3d(.1, .6, .41, 0deg);
        transform: rotate3d(.1, .6, .41, 0deg);
    }

    10% {
        -webkit-transform: rotate3d(.4, .4, .9, 10deg);
        transform: rotate3d(.4, .4, .9, 10deg);
    }

    23% {
        -webkit-transform: rotate3d(1, .3, .9, 0deg);
        transform: rotate3d(1, .3, .9, 0deg);
    }

    46% {
        -webkit-transform: rotate3d(.2, .1, .9, 15deg);
        transform: rotate3d(.2, .1, .9, 15deg);
    }

    69% {
        -webkit-transform: rotate3d(1, 5, .5, 6deg);
        transform: rotate3d(1, 5, .5, 6deg);
    }

    77% {
        -webkit-transform: rotate3d(.4, 1, .9, 15deg);
        transform: rotate3d(.4, 1, .9, 15deg);
    }

    91% {
        -webkit-transform: rotate3d(1, 3, .2, 4deg);
        transform: rotate3d(1, 3, .2, 4deg);
    }

    100% {
        -webkit-transform: rotate3d(1, 4, 3, 0deg);
        transform: rotate3d(1, 4, 3, 0deg);
    }
}

@keyframes phone {
    0% {
        -webkit-transform: rotate3d(.1, .6, .41, 0deg);
        transform: rotate3d(.1, .6, .41, 0deg);
    }

    10% {
        -webkit-transform: rotate3d(.4, .4, .9, 10deg);
        transform: rotate3d(.4, .4, .9, 10deg);
    }

    23% {
        -webkit-transform: rotate3d(1, .3, .9, 0deg);
        transform: rotate3d(1, .3, .9, 0deg);
    }

    46% {
        -webkit-transform: rotate3d(.2, .1, .9, 15deg);
        transform: rotate3d(.2, .1, .9, 15deg);
    }

    69% {
        -webkit-transform: rotate3d(1, 5, .5, 6deg);
        transform: rotate3d(1, 5, .5, 6deg);
    }

    77% {
        -webkit-transform: rotate3d(.4, 1, .9, 15deg);
        transform: rotate3d(.4, 1, .9, 15deg);
    }

    91% {
        -webkit-transform: rotate3d(1, 3, .2, 4deg);
        transform: rotate3d(1, 3, .2, 4deg);
    }

    100% {
        -webkit-transform: rotate3d(1, 4, 3, 0deg);
        transform: rotate3d(1, 4, 3, 0deg);
    }
}